@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.header {
    color: #fff;
    background-image: url(../img/banner-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header .container {
    position: relative;
    z-index: 2;
}

.header::after {
    content: "";
    z-index: 1;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 450px;
}

.row-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 180px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger-line {
    width: 28px;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
}

.burger::before,
.burger::after {
    content: '';
    display: block;
    width: 28px;
    height: 4px;
    background-color: #fff;
}

.menu {
    display: flex;
    font-family: "OpenSans-Regular";
    font-weight: 400;
    font-size: 13px;
}

.menu-item:nth-child(n + 2) {
    margin-left: 35px;
}

.menu-item a {
    text-transform: uppercase;
    color: #fff;
}

.header-title {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_mobile {
    display: none;
}

.head {
    margin: 0 auto;
    max-width: 680px;
    font-family: OpenSans-Bold, open-sans;
    font-weight: 600;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
}


/*TRENDS-START-------------------------------------------*/

.trends-header {
    height: 123px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.trend-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trend-item {
    flex-basis: 24.8%;
    height: 320px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.trand-border {
    width: 95%;
    border: 3px solid rgba(181, 159, 91, 0.6);
    margin-bottom: 15px;
    padding: 15px;
}

.article-tags {}

.trend-title {
    text-transform: uppercase;
    font-family: OpenSans-Bold, open-sans;
    font-weight: 600;
    color: #fff;
}


/*TRENDS-END-------------------------------------------*/

.column {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.main {
    flex-basis: 64%;
}

.article {
    display: flex;
}

.article:nth-child(n + 2) {
    margin-top: 60px;
}

.article-image {
    max-width: 100%;
    text-align: center;
}

.article-content {
    margin-left: 30px;
}

.article-tags {
    margin-bottom: 15px;
}

.article-tags li {
    display: inline-block;
    margin-right: 15px;
}

.article-tags a {
    text-transform: uppercase;
    font-family: OpenSans-Bold, open-sans;
    font-weight: 600;
    font-size: 14px;
    color: #b59f5b;
}

.article-title {
    font-family: OpenSans-Bold, open-sans;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 35px;
    text-align: left;
}

.article-info {
    margin-bottom: 55px;
}

.article-info span {
    display: inline-block;
    font-size: 12px;
    margin-right: 12px;
}

.article-info .article-author {
    font-family: OpenSans-Bold, open-sans;
    font-weight: 600;
}

.article-info .article-data {
    color: #888;
    font-family: "OpenSans-Regular";
}

.article-content p {
    font-family: "OpenSans-Regular";
    font-weight: 400;
    font-size: 13px;
}

.aside {
    flex-basis: 23%;
}

.aside section:nth-child(n + 2) {
    margin-top: 60px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: OpenSans-Bold, open-sans;
    font-size: 14px;
}

.h2::after {
    content: "";
    margin: 14px auto 30px auto;
    display: block;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
}

.news-item {
    display: flex;
    margin-bottom: 22px;
}

.news-item-img {
    min-width: 70px;
    max-width: 70px;
}

.news-item-content {
    margin-left: 20px;
}

.news-item-content-data {
    font-family: OpenSans-Regular, open-sans;
    font-size: 12px;
}

.news-item-content-title {
    text-transform: uppercase;
    font-family: OpenSans-Bold, open-sans;
    font-size: 14px;
}

.unvisible {
    display: block;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
}

.search-form {
    display: flex;
}

input {
    padding: 18px;
    border: 0;
    background-color: #f4f7f6;
}

input.search-input {
    width: 100%;
    height: 48px;
}

button {
    border: 0;
    background-color: #b59f5b;
}

button:hover {
    cursor: pointer;
}

button.search-button {
    width: 48px;
    height: 48px;
    background-image: url(../svg/search.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 17px;
}

input.subscribe-input {
    width: 100%;
}

button.subscribe-button {
    width: 100%;
    height: 48px;
    text-transform: uppercase;
    font-family: OpenSans-Bold, open-sans;
    font-size: 14px;
    color: #fff;
    margin-top: 17px;
}

.tags-cloud {
    display: flex;
    flex-wrap: wrap;
}

.tags-item {
    border: 2px solid #eee;
    margin: 2px;
}

.tags-item a {
    display: block;
    padding: 8px 13px;
    text-transform: uppercase;
    font-family: OpenSans-Bold, open-sans;
    font-weight: 600;
    font-size: 12px;
    color: #000;
}

.topics-item {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    font-family: OpenSans-Bold, open-sans;
    font-weight: 600;
    font-size: 14px;
}

.topics-item a {
    position: relative;
    color: #000;
}

.topics-item a span {
    position: absolute;
    top: -3px;
    margin-left: 3px;
    font-size: 12px;
    color: #b59f5b;
}


/*OUR-PRODUCTS START----------------------------*/

.our-products {
    margin: 64px 0;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    box-sizing: border-box;
    flex-basis: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-item:nth-child(n + 2) {}

.product-img-area {}

.product-info-area {
    margin-top: -27px;
    padding: 23px;
    padding-top: 40px;
    width: 100%;
    min-height: 267px;
    border: 3px solid rgba(181, 159, 91, 0.6);
}

.product-title {
    font-family: OpenSans-Bold, open-sans;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
    text-transform: uppercase;
}

.product-desc {
    font-family: OpenSans-Regular, open-sans;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
}

.product-desc a {
    color: #b59f5b;
}

.product-shop-area {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    font-family: OpenSans-Bold, open-sans;
}

.product-old-price {
    text-decoration: line-through;
    font-size: 14px;
}

.product-new-price {
    font-size: 20px;
}

.product-button {}

.product-button a {
    font-family: OpenSans-Bold, open-sans;
    font-size: 14px;
    display: block;
    text-align: center;
    width: 141px;
    height: 49px;
    line-height: 49px;
    text-transform: uppercase;
    color: #fff;
    background-color: #b59f5b;
}


/*OUR-PRODUCTS END----------------------------*/

.address {
    background-color: #f4f7f6;
    padding: 30px;
    margin: 0 auto;
}

.social {
    display: flex;
    justify-content: center;
}

.social-item {
    margin: 0 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.social-item a {
    display: block;
    width: 25px;
    height: 25px;
}

.twitter {
    background-image: url(../svg/004-twitter.svg);
}

.pinterest {
    background-image: url(../svg/001-pinterest.svg);
}

.facebook {
    background-image: url(../svg/002-facebook-logo.svg);
}

.instagram {
    background-image: url(../svg/005-instagram.svg);
}

.tumblr {
    background-image: url(../svg/003-tumblr.svg);
}

.copyright {
    padding-top: 73px;
    text-align: center;
    padding-bottom: 40px;
}

.copyright a {
    font-family: OpenSans-Bold, open-sans;
    font-weight: 600;
    font-size: 12px;
    color: #999;
}

@media(max-width:1200px) {
    .logo {
        width: 158px;
    }
    .menu {
        display: none;
    }
    .burger {
        display: block;
    }
    .header {
        background-image: url(../img/banner-bg-tablet.jpg);
    }
    .header-wrapper {
        min-height: 392px;
    }
    .head {
        font-size: 40px;
    }
    .trend-item {
        flex-basis: 49.6%;
        margin-top: 0.8%;
    }
    .column {
        justify-content: space-evenly;
    }
    .main {
        flex-basis: 56%;
        max-width: 380px;
        margin-right: 5%
    }
    .aside {
        flex-basis: 39%;
    }
    .article {
        flex-direction: column;
    }
    .article-content {
        margin-left: 0;
    }
    .article-info {
        margin-bottom: 35px;
    }
    .product-item {
        flex-basis: 48%;
        margin-top: 4%;
    }
}

@media(max-width:640px) {
    .row-first {
        justify-content: flex-end;
    }
    .logo {
        display: none;
    }
    .logo_mobile {
        display: block;
        margin-bottom: 40px;
    }
    .header {
        background-image: url(../img/banner-mobile.jpg);
    }
    .header-wrapper {
        min-height: 100vh;
    }
    .header-title {
        padding: 0 30px;
    }
    .head {
        font-size: 26px;
    }
    .main {
        flex-basis: 100%;
        margin-right: 0;
    }
    .article-image img {
        width: 100%;
        object-fit: cover;
    }
    .aside {
        margin-top: 64px;
    }
    .trend-item {
        flex-basis: 100%;
    }
    .column {
        flex-direction: column;
        align-items: center;
    }
    .product-list {
        justify-content: center;
    }
    .product-item {
        flex-basis: 100%;
    }
    .social-item:first-child,
    .social-item:last-child {
        margin: 0;
    }
}

@media(max-width:1200px) and (orientation:landscape) {
    .trend-item {
        flex-basis: 24.8%;
    }
}

@media(max-width:640px) and (orientation:landscape) {
    .trend-item {
        flex-basis: 49.6%;
        margin-top: 0.8%;
    }
}


/*POPUP START--------------------------------------------------*/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.popup-form-area {}

.popup-close-area {
    display: flex;
    justify-content: flex-end;
}

.popup-close {
    width: 19px;
    height: 19px;
    margin-bottom: 5px;
    cursor: pointer;
}

.popup-form-row {
    background-color: #fff;
    padding: 54px 32px;
    font-family: OpenSans-Regular, open-sans;
    margin: 20px;
}

.popup-title {}

.h2 {}

.popup-form {}

.label {
    display: block;
    margin-top: 35px;
    margin-bottom: 10px;
}

.how-often-area {}

.often {
    width: 100%;
    padding: 20px;
    border: 0px;
    background-color: #f3f7f6;
    appearance: none;
    background-image: url(../svg/form-arrows.svg);
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: 8px;
}

.group-subscribe {}

.subscribe-select {
    clip: rect(1, 1, 1, 1);
    width: 1px;
    height: 1px;
}

.subscribe-select-label {
    margin-right: 10px;
}

.subscribe-select+.subscribe-select-label::before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url(../svg/form-empty-circle.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;
    transform: translate(0, 4px);
}

.subscribe-select:checked+.subscribe-select-label::before {
    background-image: url(../svg/form-circle.svg);
}

.about-content-area {
    width: 100%;
}

.about-content {
    width: 100%;
    padding: 20px;
    background-color: #f3f7f6;
    appearance: none;
    border: 0;
    resize: none;
}

.button-area {}

.subscribe-button {}

._hidden {
    display: none;
}


/*POPUP END--------------------------------------------------*/